<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Stream-a-vid</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <div class="left-prt">Hello,Yogesh!</div>
      <div class="rht-prt">
        <input id="search" cols="15" rows="3" placeholder="Search"></input>
      </div>
    </header>

    <main>
        <h2>Popular</h2>
        <div class="popular">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
        <h2>Continue Watching</h2>
        <div class="continue">
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
            <div class="frame"></div>
        </div>
    </main>
  </body>
</html>
